* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  scrollbar-width: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Wix Madefor Display", sans-serif;
  min-width: 400px;
}
