.action-btn {
  height: 2.5rem;
  width: 2.5rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 4px 0 hsla(0, 0%, 0%, 20%);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-btn:hover {
  background-color: hsl(0, 0%, 95%);
}