#event-form {
  display: grid;
  grid-template-rows: repeat(4, 2fr);
  align-items: end;
}

/* -- First Fieldset: Event Options -- */
fieldset {
  border: none;
}

legend {
  padding: 0 0 0.25rem 0.25rem;
}

.event-options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
}

/* Hides the radio inputs */
input.event-options {
  position: absolute;
  width: 0;
  height: 0;
}

.event-label {
  height: 3.5rem;
  background-color: hsl(0, 0%, 90%);
  box-shadow: 1px 1px 4px 0 hsla(0, 0%, 0%, 10%);
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 0.25rem 1fr;
  align-items: center;
  cursor: pointer;
}

.event-label > span {
  height: 100%;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.event-options:checked + label {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.25rem 0.5rem 0.5rem 0.25rem;
}

#birthday:checked + label > span {
  background-color: hsl(0, 80%, 65%);
}

#special:checked + label >  span {
  background-color: hsl(260, 80%, 65%);
}

/* -- Second and Third Fieldset: Name/Title and Date -- */
fieldset.date-container label {
  padding-left: 0.25rem;
}

.form-input-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: end;
}

.form-input-container > input {
  grid-column: 1;
  grid-row: 2;
  height: 2.25rem;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 25%);
  border-radius: 0.5rem;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

/* Valid and Invalid icons */
span.checker {
  grid-column: 1;
  grid-row: 2;
  justify-self: end;
  align-self: center;
  display: none;
  justify-content: center;
  align-items: center;
  width: 2rem;
  font-size: 1rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24
}

#name-input + span.valid,
#date-input + span.valid {
  display: flex;
  color: hsl(210, 60%, 35%);
}

#name-input + span.invalid,
#date-input + span.invalid {
  display: flex;
  color: hsl(0, 75%, 50%);
}

/* -- Add Button -- */
#save-date {
  width: 50%;
  height: 2.2rem;
  justify-self: center;
  background-color: hsl(210, 60%, 35%);
  color: hsl(0, 0%, 100%);
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  border: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
}

#save-date:disabled {
  background-color: hsl(210, 10%, 90%);
  color: hsl(0, 0%, 25%);
  cursor: not-allowed;
}