.event-card {
  height: 3.5rem;
  width: 100%;
  background-color: var(--main-bg-colour);
  border-right: 1px solid var(--line-colour);
  border-bottom: 1px solid var(--line-colour);
  box-shadow: 1px 1px 4px 0 var(--light-box-shadow-colour);
  display: grid;
  grid-template-columns: 4fr 5rem 2rem;
  column-gap: 0.5rem;
  align-items: center;
}

.event-card:first-of-type {
  margin-top: 0.75rem;
  border-top: 1px solid var(--line-colour);
}

.event-card:nth-child(2) {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.5rem;
}

.event-card:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.5rem;
}

.event-container {
  grid-area: 1 / 1 / span 1 / span 1;
  height: 100%;
  display: grid;
  grid-template-columns: 0.25rem 1fr;
}

.event-container > p {
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.event-card.special > .event-container > span {
  background-color: var(--special-colour);
}

.event-card.birthday > .event-container > span {
  background-color: var(--birthday-colour);
}

.event-card:nth-child(2) > .event-container > span {
  border-top-left-radius: 0.5rem;
}

.event-card:last-child > .event-container > span {
  border-bottom-left-radius: 0.5rem;
}

.date-container {
  grid-area: 1 / 2 / span 1 / span 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-container > p {
  font-size: 1.1rem;
}

.more-options-container {
  grid-area: 1 / 3 / span 1 / span 1;
  position: relative;
  width: 2rem;
  height: 80%;
  overflow: hidden;
  background-color: var(--main-bg-colour);
  border-left: 1px solid transparent;
  border-radius: 0 0.5rem 0.5rem 0;
  display: grid;
  grid-template-columns: 2rem repeat(2, 2.25rem);
  column-gap: 0.5rem;
  align-items: center;
}

.event-card:hover > .more-options-container {
  border-left-color: var(--line-colour);
}

.more-options-container.open-more-options {
  width: 10rem;
  right: 8rem;
  border-left-color: var(--line-colour);
  animation: 0.1s ease-out openLeft forwards;
}

@keyframes openLeft {
  from {
    width: 2rem;
    right: 0rem;
  }

  to {
    width: 8rem;
    right: 6rem;
  }
}

.more-options-container.close-more-options {
  animation: 0.1s ease-in closeRight forwards;
}

@keyframes closeRight {
  from {
    width: 8rem;
    right: 6rem;
  }

  to {
    width: 2rem;
    right: 0rem;
  }
}

.more-options-container > span {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}

.delete-btn > span {
  color: var(--red);
}

/* Animation for Events added and updated to the DOM when updating eventsObj state */

.show-event {
  opacity: 0;
  animation: 0.2s ease-in showEvent forwards;
  animation-delay: 0.1s;
}

@keyframes showEvent {
  from {
    scale: 0.9;
    opacity: 0;
  }

  to {
    scale: 1;
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .event-card > p:last-child {
    padding: 0 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .event-card > p:last-child {
    padding: 0 2rem;
  }
}

/* -- Deletion animations (aside, article and section) */

aside.delete-animation {
  transform-origin: top;
  animation: 0.2s ease-in deleteAside forwards;
  animation-delay: 0.1s;
}

@keyframes deleteAside {
  from {
    height: 3.5rem;
    opacity: 1;
    transform: scale(1);
  }
  
  to {
    height: 0rem;
    opacity: 0;
    transform: scale(0);
  }
}

article.delete-animation {
  transform-origin: top;
  animation: 0.2s ease-in deleteArticle forwards;
  animation-delay: 0.1s;
}

@keyframes deleteArticle {
  from {
    height: 6rem;
    padding: 0.75rem;
    margin-bottom: 1.2rem;
    opacity: 1;
    transform: scale(1);
  }
  
  to {
    height: 0rem;
    padding: 0rem;
    margin-bottom: 0rem;
    opacity: 0;
    transform: scale(0);
  }
}

section.delete-animation {
  transform-origin: top;
  animation: 0.2s ease-in deleteSection forwards;
  animation-delay: 0.1s;
}

@keyframes deleteSection {
  from {
    height: 11rem;
    padding-top: 1.25rem;
    opacity: 1;
    transform: scale(1);
  }
  
  to {
    height: 0rem;
    padding-top: 0rem;
    opacity: 0;
    transform: scale(0);
  }
}