header {
  position: fixed;
  width: 100vw;
  background-color: hsla(0, 0%, 100%, 95%);
  backdrop-filter: blur(5px) grayscale(0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1;
}

.menu-container {
  height: 3.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: right;
  align-items: center;
}

.menu-container > p {
  font-size: 1.1rem;
  font-weight: 600;
  padding-right: 0.5em;
}

#menu-btn {
  background-color: hsl(0, 0%, 100%);
}

.menu-icon {
  width: 22px;
  height: 22px;
  margin: 0.15rem 0;
  background-image: url('../icons/menuIcon2.png');
  background-size: cover;
}

#menu-btn:hover > .menu-icon {
  background-image: url('../icons/menuIcon2.png');
}

#menu-btn > .menu-icon.menu-icon-active {
  background-image: url('../icons/menuIcon3.png');
}

@media only screen and (min-width: 768px) {
  #logo {
    padding: 0.25rem 1.5rem;
  }

  .menu-container {
    margin-right: 1.5rem;
  }

  .menu-container > p {
    font-weight: 450;
    color: hsl(0, 0%, 25%);
    padding-right: calc(1.5em + 140px);
  }

  #menu-btn {
    width: 70px;
  }

  #menu-btn:hover {
    background-color: hsl(0, 0%, 95%);
  }

  .menu-icon {
    background-image: url('../icons/menuIcon1.png');
  }
}
