main {
  min-height: 100vh;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
}

.events > h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.month-container {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  background-color: hsla(0, 0%, 100%);
  border-radius: 0.5rem;
  width: 90vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.month-text {
  font-size: 1.25rem;
  padding-top: 1rem;
}

.event-card {
  margin: 1rem 0 0.5rem 0;
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 90%;
}

.event-card > p {
  font-size: 1.25rem;
}

.event-card > h3 {
  font-size: 1.5rem;
}

.birthday {
  background-color: hsla(210, 100%, 88%);
}

.event {
  background-color: hsl(0, 100%, 88%);
}

@media only screen and (min-width: 550px) {
  main {
    padding-top: 6.5rem;
  }

  .month-container {
    width: 80vw;
  }

  .event-card {
    padding: 1rem;
  }
}

@media only screen and (min-width: 1100px) {
  .month-container {
    width: 40vw;
    max-width: 600px;
  }
}
