main {
  min-height: calc(100vh - 2.5rem);
  padding-top: 5.5rem;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > h1 {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

section.month-events {
  padding-bottom: 1.25rem;
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.month-events > h2 {
  font-size: 1.4rem;
}

article.event-card {
  width: 100%;
  background-color: hsla(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 25%);
  border-radius: 8px;
  margin: 1.5rem 0 0.5rem 0;
}

section.month-events > h2 + article.event-card {
  margin: 0.75rem 0 0.5rem 0;
}

.event-identifier {
  border-radius: 7px 7px 0 0;
  height: 1.5rem;
  width: 100%;
}

.birthday {
  background-color: hsl(0, 75%, 75%);
}

.event {
  background-color: hsl(260, 60%, 75%);
}

aside.event-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0.75rem 0;
  font-size: 1.1rem;
  font-weight: 500;
}

aside.event-details > p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.75rem;
  text-align: center;
}

aside.event-details > p:nth-child(2) {
  border-left: 1px solid hsl(0, 0%, 75%);
  padding: 0 0.25rem;
  font-size: 1.25rem;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  section.month-events {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  section.month-events {
    width: 40%;
  }
}
