#menu-options-container {
  position: absolute;
  top: 4rem;
  right: -7rem;
  background-color: var(--main-bg-colour);
  box-shadow: 1px 1px 4px 0 var(--box-shadow-colour);
  border-radius: 0.5rem;
  padding: 0.25rem 0.25rem;
  display: none;
  flex-direction: column;
  min-width: 7rem;
}

#menu-options-container.display-menu {
  display: flex;
  animation: 0.15s ease-in displayMenu forwards;
}

@keyframes displayMenu {
  from {
    right: -7rem;
    opacity: 0;
  }

  to {
    right: 0.5rem;
    opacity: 1;
  }
}

#menu-options-container.hide-menu {
  display: flex;
  animation: 0.15s ease-in hideMenu forwards;
}

@keyframes hideMenu {
  from {
    display: flex;
    right: 0.5rem;
    opacity: 1;
  }

  to {
    display: none;
    right: -7rem;
    opacity: 0;
  }
}

@media only screen and (min-width: 768px) {
  #menu-options-container {
    top: 4.25rem;
  }

  @keyframes displayMenu {
    from {
      right: -7rem;
      opacity: 0;
    }

    to {
      right: 1rem;
      opacity: 1;
    }
  }

  @keyframes hideMenu {
    from {
      display: flex;
      right: 1rem;
    }

    to {
      display: none;
      right: -7rem;
      opacity: 0;
    }
  }
}

#log-out-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-colour);
  border: none;
  border-radius: 0.5rem;
  padding: 0.55rem;
  cursor: pointer;
  font-size: 1rem;
}

#log-out-btn:hover {
  background-color: var(--hover-btn-colour);
}

#log-out-btn > .material-symbols-outlined {
  font-size: 1.25rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}
