#date-section {
  background-color: hsla(0, 0%, 0%, 85%);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#date-form {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  padding: 1.25rem;
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.form-title-container {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  justify-content: center;
  align-items: center;
}

#date-form h2 {
  text-align: center;
  grid-column: 2;
}

.close-btn {
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.1rem;
  width: 2.1rem;
  font-size: 2rem;
  font-weight: 300;
  transform: rotate(45deg);
  cursor: pointer;
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 25%);
  border-radius: 50%;
}

.close-btn:hover {
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 0%);
}

@media only screen and (min-width: 550px) {
  #date-form {
    border-radius: 1rem;
    padding: 2rem;
    width: 40vw;
  }
}

label, input {
  display: block;
  border: 1px solid transparent;
}

label, legend {
  padding: 0.25rem 1rem 0;
}

input, select {
  background-color: transparent;
  width: 100%;
  min-height: 2.2rem;
  padding: 0.25rem 1rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 1.2rem;
  text-align: center;
}

fieldset {
  border: none;
}

.yes-no-container {
  display: flex;
}

.yes-no {
  width: 50%;
  text-align: center;
  cursor: pointer;
  padding: 0.25rem 1rem;
  font-size: 1.2rem;
  border: 2px solid black;
  background-color: hsl(0, 0%, 85%);
}

#yes-option {
  border-radius: 1rem 0 0 1rem;
  border-right: 0px;
}

#no-option {
  border-radius: 0 1rem 1rem 0;
}

select {
  width: 50%;
  cursor: pointer;
}

#day-month {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#day-month > label {
  width: 50%;
  order: -1;
}

#day {
  border-radius: 1rem 0 0 1rem;
  border-right: 0px;
}

#month {
  border-radius: 0 1rem 1rem 0;
}

#save-date {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  width: 50%;
  min-height: 2.2rem;
  font-size: 1.2rem;
  border: 1px solid transparent;
  border-radius: 1.5rem;
  align-self: center;
  margin-top: 1.5rem;
  cursor: pointer;
}
