#action-buttons {
  display: grid;
  grid-template-columns: repeat(2, 2.25rem);
  column-gap: 0.5rem;
  z-index: 30;
}

#add-event-btn > span {
  font-size: 1.75rem;
  color: hsl(0, 0%, 0%);
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

.action-btn:hover span {
  transform: scale(1.05);
}

.menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../icons/menuIcon2.png');
  background-size: cover;
}

#menu-btn > .menu-icon.menu-icon-active {
  background-image: url('../icons/menuIcon3.png');
}

@media only screen and (min-width: 768px) {
  #menu-btn:hover {
    background-color: hsl(0, 0%, 95%);
  }
}